* {
  margin: 0;
}
.placeholder {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 30px;
  padding: 10px;
  margin: 10px;
}
.placeholder2 {
  //background-color: rgba(255, 255, 255, 0.7);
  border-radius: 30px;
  padding: 10px;
  margin: 10px;
}
.footer {
  background-color: rgba(255, 255, 255, 0);
  // color: #000;
  padding-top: 15px;
  margin-top: 10px;
}
.bg-image{
  max-width: 100%;
}
