html
  head
  title= title
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width")
  <link rel="stylesheet" href="css/bootstrap.css"/>
  <link rel="stylesheet" href="css/main.css"/>
  body
    .header

    block content
    block foot
    footer
      p Всі права захищено
